<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blueprints through a Blitzkrieg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Gudea:400,700">
    <link rel="stylesheet" href="./main.css">
    <script src="vue.min.js"></script>
</head>
<body>
<div id="app">
    <header>
        <h1>Blueprints through a Blitzkrieg</h1>
        <div class="box">
            <div>
                <input placeholder="Search text" v-model="textValue">
            </div>
            <p>
                <template v-for="(cat, index) in Object.values(categories).sort()">
                    <template v-if="index > 0">, </template>
                    <a href="#" :class="{selected: isSelected(cat)}" 
                        @click.prevent="resetFilter(cat, 'category')">{{cat}}</a>
                </template>
            </p>
            <p><small>Last update: {{date}}</small></p>
        </div>
    </header>
    <section>
        <h3>
            {{category}}{{textValue}} 
            <button v-show="!!category" @click="clear">Clear Filter</button>
        </h3>
        <dl>
            <template v-for="item in filteredData()">
                <dt>
                    <div class="name">
                        <span class="fav" v-if="item.fav">&#9733; </span> 
                        <a class="title" :href="item.url">{{item.title}}</a>
                        <a class="social" target="_blank" v-if="item.f" 
                            :href="'https://www.facebook.com/' + item.f">
                            <span class="facebook"></span>
                        </a>
                        <a class="social" target="_blank" v-if="item.t" 
                            :href="'https://www.twitter.com/' + item.t">
                            <span class="twitter"></span>
                        </a>
                        <a class="social" target="_blank" v-if="item.y" 
                            :href="'https://www.youtube.com/user/' + item.y">
                            <span class="youtube"></span>
                        </a>
                    </div>
                    <div class="url">{{item.url}}</div>
                    <div class="cite">
                        <span class="cite" v-html="formatCitation(item)"></span> 
                        <span class="cats" v-html="filteredCat(item)"></span>
                    </div>
                </dt>
                <dd>
                    <div v-html="item.info"></div>
                    <div class="also" v-if="item.also">
                        Don't miss: 
                        <span v-for="(sub, i) in item.also">
                            <span v-if="i > 0">, </span>
                            <a :href="sub.url">{{sub.title}}</a>
                        </span>
                    </div>
                </dd>
            </template>
        <dl>
    </section>
    <footer>
        <p>Suggested additions encouraged via alxdark@gmail.com, or make a pull request on GitHub. This site 
            was created for residents of Seattle and Washington state, and does not include regional resources 
            from elsewhere. I do remove resources if I find better or more recent replacements. </p> 
    </footer>
</div>
<script src="./data.js"></script>
<script src="./index.js"></script>
</body>
</html>