<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blueprints through a Blitzkrieg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Gudea:400,700">
    <script src="./data.js"></script>
    <script src="http://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <header>
        <h1>Blueprints through a Blitzkrieg</h1>
        <div class="box">
            <div>
                <input placeholder="Search text" v-model="textValue">
            </div>
            <p>
                <template v-for="(cat, index) in Object.values(categories).sort()">
                    <template v-if="index > 0">, </template>
                    <a href="#" :class="{selected: isSelected(cat)}" @click.prevent="resetFilter(cat, 'category')">{{cat}}</a>
                </template>
            </p>
        </div>
    </header>
    <section>
        <h3>
            {{category}}{{textValue}} 
            <button v-show="!!category" @click="clear">Clear Filter</button>
        </h3>
        <dl>
            <template v-for="item in filteredData()">
                <dt>
                    <div><span style="color: orange" v-if="item.fav">&#9733; </span> <a :href="item.url">{{item.title}}</a></div>
                    <div class="url">{{item.url}}</div>
                    <div>
                        <span class="cite" v-html="formatCitation(item)"></span> 
                        <span class="cats" v-html="filteredCat(item)"></span>
                    </div>
                </dt>
                <dd>
                    <div v-html="item.info"></div>
                    <div style="margin-top: .5rem">
                        <a :href="'https://www.facebook.com/' + item.facebook" v-if="item.facebook">
                            <div class="facebook"></div> facebook
                        </a>
                        <a :href="'https://www.twitter.com/' + item.twitter" v-if="item.twitter">
                            <div class="twitter"></div> twitter
                        </a>
                    </div>
                </dd>
            </template>
        <dl>
    </section>
    <footer>
        <p>Site updated {{ date }}. Suggested additions encouraged via alxdark@gmail.com, 
            or make a pull request on GitHub.  Background by 
            <a href="http://www.marcbanderson.com/">Marc Anderson</a>.</p> 
    </footer>
</div>
<script>
function itemFieldMatch(item, fieldName, textValue) {
    var field = item[fieldName];
    return (field && field.toLowerCase().indexOf(textValue.toLowerCase()) > -1);
}
var SEARCH_FIELDS = ["title","info","author","pub"];

var app = new Vue({
    el: '#app',
    data: {
        category: null,
        textValue: null,
        items: data,
        categories: c,
        date: date
    },
    created: function() {
        var arr = document.location.hash.split("=");
        var value = decodeURIComponent(arr[1]);
        if (arr[0] === "#search") {
            this.textValue = value;
        } else if (arr[0] === "#category") {
            this.resetFilter(value, 'category');
        }
    },
    methods: {
        filteredData: function() {
            if (this.textValue) {
                this.category = null;
                document.location.hash = "#search="+this.textValue;
                return this.items.filter(function(item) {
                    return SEARCH_FIELDS.some(function(fieldName) {
                        return itemFieldMatch(item, fieldName, this.textValue);
                    }, this);
                }, this);
            } else if (this.category) {
                document.location.hash = "#category=" + this.category;
                return this.items.filter(function(item) {
                    return item.cat.indexOf(this.category) > -1;
                }, this);
            }
            return this.items;
        },
        filteredCat: function(item) {
            var array = [].concat(item.cat);
            array.splice(array.indexOf(this.category),1);
            return array.join(', ');
        },
        resetFilter(value, type) {
            var existingValue = this.category;
            this.textValue = this.category = null;
            if (existingValue !== value) {
                this.category = value;
            }
        },
        clear: function() {
            this.category = null;
        },
        formatCitation: function(item) {
            var array = [];
            if (item.author) array.push(item.author);
            if (item.pub) array.push('<i>'+item.pub+'</i>');
            if (item.date) array.push(item.date);
            return (array.length) ? array.join(', ') + '.' : '';
        },
        isSelected: function(cat) {
            return cat === this.category;
        }
    }
});
</script>
</body>
</html>