html {
    font-size: 16px;
    font-family: Gudea, sans-serif;
    background: url(subway-lines.png);
    background-attachment: fixed;
    overflow-x: hidden;
}
body {
    padding: 2rem;
    margin: 0 auto;
    max-width: 50rem;
    background-color: white;
    overflow-x: hidden;
}
.facebook, .twitter {
    height: 1rem;
    width: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.social, .social a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
    .social a span {
        opacity: .7;
    }
    .social a:hover span {
        opacity: 1;
    }
    .social a span:first-child {
        margin-left: 1rem;
        margin-right: .2rem;
    }
.fav {
    color: orange;
    padding-right: .3rem;
}
.facebook {
    background-image: url(facebook.svg);
}
.twitter {
    background-image: url(twitter.svg);
}
.cats {
    font-variant: small-caps;
    font-size: 14px;
    letter-spacing: 1px;
    color: #666;
    font-style: italic;
}
h1 {
    font-size: 22px;
}
header h2 {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: -.7rem;
}
section h2 {
    font-size: 18px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: .2rem;
    letter-spacing: 1px;
}
h3 button {
    margin-left: 2rem;
}
blockquote {
    font-style: italic;
}
dt {
    margin-top: 1rem;
    margin-bottom: .2rem;
}
a {
    text-decoration: none;
    color: mediumblue;
}
    a:visited {
        color: mediumblue;
    }
    a:hover {
        text-decoration: underline;
    }
    a.active {
        color: black;
        font-weight: bold;
    }
input {
    font-size: large;
    border-radius: 6px;
    border: 2px solid #e5e5e5;
    padding: .2rem .6rem;
}
.main {
    display: flex;
    flex-direction: row;
}
.box {
    margin: -1rem -2rem 1rem -2rem;
    padding: 1rem 2rem 0rem 2rem;
    border-bottom: 3px double silver;
}
    .box p {
        line-height: 1.4;
    }
    .box a {
        padding: 2px 3px;
    }
    .selected {
        background-color: #e5e5e5;
        border-radius: 3px;
    }
.cite, .url {
    font-size: 14px;
}
.url {
    display: none;
}
nav {
    width: 15rem;
    padding: 1rem 3rem 1rem 0rem;
}
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        white-space: nowrap;
    }
section {
    padding-right: 2rem;
    width: 100%;
}
    .arrow {
        color: rgba(0,0,0,.2);
    }
footer {
    border-top: 3px double silver;
    margin: 2rem -2rem 2rem -2rem;
    padding: 0rem 2rem;
}
    footer p {
        font-size: smaller;
    }
    dd, ul {
        margin-left: 1rem;
        padding-left: 0;
    }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    html {
        font-size: 18px;
    }
    body {
        padding: 1rem;
    }
    .main {
        display: block;
    }
}
@media only print {
    html {
        background: none;
    }
    .url {
        display: block;
    }
    h1, .box, h3 button {
        display: none;
    }
}
