html {
    font-size: 16px;
    font-family: Gudea, sans-serif;
    background-attachment: fixed;
    overflow-x: hidden;
    background-color: #ffdd99;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23FD9'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90%2C150 0%2C300 180%2C300'/%3E%3Cpolygon points='90%2C150 180%2C0 0%2C0'/%3E%3Cpolygon fill='%23AAA' points='270%2C150 360%2C0 180%2C0'/%3E%3Cpolygon fill='%23DDD' points='450%2C150 360%2C300 540%2C300'/%3E%3Cpolygon fill='%23999' points='450%2C150 540%2C0 360%2C0'/%3E%3Cpolygon points='630%2C150 540%2C300 720%2C300'/%3E%3Cpolygon fill='%23DDD' points='630%2C150 720%2C0 540%2C0'/%3E%3Cpolygon fill='%23444' points='810%2C150 720%2C300 900%2C300'/%3E%3Cpolygon fill='%23FFF' points='810%2C150 900%2C0 720%2C0'/%3E%3Cpolygon fill='%23DDD' points='990%2C150 900%2C300 1080%2C300'/%3E%3Cpolygon fill='%23444' points='990%2C150 1080%2C0 900%2C0'/%3E%3Cpolygon fill='%23DDD' points='90%2C450 0%2C600 180%2C600'/%3E%3Cpolygon points='90%2C450 180%2C300 0%2C300'/%3E%3Cpolygon fill='%23666' points='270%2C450 180%2C600 360%2C600'/%3E%3Cpolygon fill='%23AAA' points='270%2C450 360%2C300 180%2C300'/%3E%3Cpolygon fill='%23DDD' points='450%2C450 360%2C600 540%2C600'/%3E%3Cpolygon fill='%23999' points='450%2C450 540%2C300 360%2C300'/%3E%3Cpolygon fill='%23999' points='630%2C450 540%2C600 720%2C600'/%3E%3Cpolygon fill='%23FFF' points='630%2C450 720%2C300 540%2C300'/%3E%3Cpolygon points='810%2C450 720%2C600 900%2C600'/%3E%3Cpolygon fill='%23DDD' points='810%2C450 900%2C300 720%2C300'/%3E%3Cpolygon fill='%23AAA' points='990%2C450 900%2C600 1080%2C600'/%3E%3Cpolygon fill='%23444' points='990%2C450 1080%2C300 900%2C300'/%3E%3Cpolygon fill='%23222' points='90%2C750 0%2C900 180%2C900'/%3E%3Cpolygon points='270%2C750 180%2C900 360%2C900'/%3E%3Cpolygon fill='%23DDD' points='270%2C750 360%2C600 180%2C600'/%3E%3Cpolygon points='450%2C750 540%2C600 360%2C600'/%3E%3Cpolygon points='630%2C750 540%2C900 720%2C900'/%3E%3Cpolygon fill='%23444' points='630%2C750 720%2C600 540%2C600'/%3E%3Cpolygon fill='%23AAA' points='810%2C750 720%2C900 900%2C900'/%3E%3Cpolygon fill='%23666' points='810%2C750 900%2C600 720%2C600'/%3E%3Cpolygon fill='%23999' points='990%2C750 900%2C900 1080%2C900'/%3E%3Cpolygon fill='%23999' points='180%2C0 90%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='360%2C0 270%2C150 450%2C150'/%3E%3Cpolygon fill='%23FFF' points='540%2C0 450%2C150 630%2C150'/%3E%3Cpolygon points='900%2C0 810%2C150 990%2C150'/%3E%3Cpolygon fill='%23222' points='0%2C300 -90%2C450 90%2C450'/%3E%3Cpolygon fill='%23FFF' points='0%2C300 90%2C150 -90%2C150'/%3E%3Cpolygon fill='%23FFF' points='180%2C300 90%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='180%2C300 270%2C150 90%2C150'/%3E%3Cpolygon fill='%23222' points='360%2C300 270%2C450 450%2C450'/%3E%3Cpolygon fill='%23FFF' points='360%2C300 450%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='540%2C300 450%2C450 630%2C450'/%3E%3Cpolygon fill='%23222' points='540%2C300 630%2C150 450%2C150'/%3E%3Cpolygon fill='%23AAA' points='720%2C300 630%2C450 810%2C450'/%3E%3Cpolygon fill='%23666' points='720%2C300 810%2C150 630%2C150'/%3E%3Cpolygon fill='%23FFF' points='900%2C300 810%2C450 990%2C450'/%3E%3Cpolygon fill='%23999' points='900%2C300 990%2C150 810%2C150'/%3E%3Cpolygon points='0%2C600 -90%2C750 90%2C750'/%3E%3Cpolygon fill='%23666' points='0%2C600 90%2C450 -90%2C450'/%3E%3Cpolygon fill='%23AAA' points='180%2C600 90%2C750 270%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C600 270%2C450 90%2C450'/%3E%3Cpolygon fill='%23444' points='360%2C600 270%2C750 450%2C750'/%3E%3Cpolygon fill='%23999' points='360%2C600 450%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='540%2C600 630%2C450 450%2C450'/%3E%3Cpolygon fill='%23222' points='720%2C600 630%2C750 810%2C750'/%3E%3Cpolygon fill='%23FFF' points='900%2C600 810%2C750 990%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C600 990%2C450 810%2C450'/%3E%3Cpolygon fill='%23DDD' points='0%2C900 90%2C750 -90%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C900 270%2C750 90%2C750'/%3E%3Cpolygon fill='%23FFF' points='360%2C900 450%2C750 270%2C750'/%3E%3Cpolygon fill='%23AAA' points='540%2C900 630%2C750 450%2C750'/%3E%3Cpolygon fill='%23FFF' points='720%2C900 810%2C750 630%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C900 990%2C750 810%2C750'/%3E%3Cpolygon fill='%23222' points='1080%2C300 990%2C450 1170%2C450'/%3E%3Cpolygon fill='%23FFF' points='1080%2C300 1170%2C150 990%2C150'/%3E%3Cpolygon points='1080%2C600 990%2C750 1170%2C750'/%3E%3Cpolygon fill='%23666' points='1080%2C600 1170%2C450 990%2C450'/%3E%3Cpolygon fill='%23DDD' points='1080%2C900 1170%2C750 990%2C750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
body {
    padding: 2rem;
    margin: 0 auto;
    max-width: 40rem;
    background-color: white;
    overflow-x: hidden;
}
.facebook, .twitter, .youtube {
    height: 1rem;
    width: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.name, .name a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
    .name a span {
        opacity: .5;
    }
    .name a:hover span {
        opacity: 1;
    }
    .title + .social {
        margin-left: 1rem;
    }
    .social {
        margin-right: .2rem;
    }
.fav {
    color: orange;
    padding-right: .3rem;
}
.facebook {
    background-image: url(facebook.svg);
}
.twitter {
    background-image: url(twitter.svg);
}
.youtube {
    background-image: url(youtube.svg);
}
.cite {
    margin-top: .3rem;
}
.cats {
    font-variant: small-caps;
    font-size: 14px;
    letter-spacing: 1px;
    color: #666;
    font-style: italic;
}
h1 {
    font-family: Rancho, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1;
}
header h2 {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: -.7rem;
}
section h2 {
    font-size: 18px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: .2rem;
    letter-spacing: 1px;
}
h3 button {
    margin-left: 2rem;
}
blockquote {
    font-style: italic;
}
dt {
    margin-top: 1.2rem;
    /*margin-bottom: .2rem;*/
}
a {
    text-decoration: none;
    color: mediumblue;
}
    a:visited {
        color: mediumblue;
    }
    a:hover {
        text-decoration: underline;
        text-decoration-skip: ink;
        text-decoration-skip-ink: auto;
    }
    a.active {
        color: black;
        font-weight: bold;
    }
input {
    font-size: large;
    border-radius: 6px;
    border: 2px solid #e5e5e5;
    padding: .2rem .6rem;
}
.main {
    display: flex;
    flex-direction: row;
}
.box {
    margin: -1rem -2rem 1rem -2rem;
    padding: 1rem 2rem 0rem 2rem;
    border-bottom: 3px double silver;
}
    .box p {
        line-height: 1.4;
    }
    .box a {
        padding: 2px 3px;
    }
    .selected {
        background-color: #e5e5e5;
        border-radius: 3px;
    }
.cite, .url {
    font-size: 14px;
}
.url {
    display: none;
}
nav {
    width: 15rem;
    padding: 1rem 3rem 1rem 0rem;
}
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        white-space: nowrap;
    }
section {
    padding-right: 2rem;
    width: 100%;
}
    .arrow {
        color: rgba(0,0,0,.2);
    }
footer {
    border-top: 3px double silver;
    margin: 2rem -2rem 2rem -2rem;
    padding: 0rem 2rem;
}
    footer p {
        font-size: smaller;
    }
    dd, ul {
        margin-left: 0;
        padding-left: 0;
        line-height: 1.4;
    }
.also {
    font-size: smaller;
    color: #666;
}
    .also a, .also a:visited {
        color: steelblue;
    }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    html {
        font-size: 18px;
    }
    body {
        padding: 1rem;
    }
    .main {
        display: block;
    }
}
@media only print {
    html {
        background: none;
    }
    .url {
        display: block;
    }
    h1, .box, h3 button, .facebook, .twitter, .youtube {
        display: none;
    }
}